doctype html
html(lang='en')
    head
        title Experiments
    body
        header
            h1#title Fastify experiments

        if user
            section#greetings Hello #{user.username}
            form(method="POST", action="/logout")
                button(type="submit") logout
        else
            ul
                li
                    a(href="/login") Login
                li
                    a(href="/signup") Register