doctype html
html(lang='en')
    head
        title Experiments
    body
        header
            h1#title Fastify experiments

        section#login-form
            h2 Login
            form
                input(type='text', name="username", placeholder="username")
                input(type='text', name="password", placeholder="password")
                button(type="submit") login

        section#register-form
            h2 Register
            form
                input(type='text', name="username", placeholder="username")
                input(type='text', name="password", placeholder="password")
                input(type='text', name="repeatPassword", placeholder="repeat password")
                button(type="submit") register